.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
  border-radius: 4px;

  padding: 30px 25px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.218);
  position: relative;
  z-index: 2;
  animation: slideIn 0.3s ease forwards;
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1px solid #ddd;
    font-size: 14px;
    font-weight: 600;
    color: #24272a;
    transition: all 0.2s ease;
    background: #f8f9fa;

    &:focus {
      border-color: #e6370b;
      box-shadow: 0 0 0 3px rgba(230, 55, 11, 0.2);
      outline: none;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    margin-top: 10px;
    .btnEditSave {
      padding: 12px 18px;
      border: none;
      width: 100%;
      border-radius: 12px;
      background: linear-gradient(135deg, #fb4517, #e6370b);
      color: #fff;
      font-weight: 700;
      font-size: clamp(0.813rem, 0.792rem + 0.09vw, 0.875rem);
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 0 6px 16px rgba(251, 69, 23, 0.3);

      &:hover {
        box-shadow: 0 8px 20px rgba(251, 69, 23, 0.4);
        background: linear-gradient(135deg, #fa5227, #c42b08);
      }

      &:disabled {
        background: #aaa;
        cursor: not-allowed;
        box-shadow: none;
      }
    }
    .cancelBtn {
      width: 100%;
      padding: 12px 18px;
      background: #f8f9fa;
      border: 1px solid #dee2e6;
      color: #24272a;
      border-radius: 12px;
      font-weight: 700;
      font-size: clamp(0.813rem, 0.792rem + 0.09vw, 0.875rem);
      cursor: pointer;
      &:hover {
        background: #e9ecef;
        color: #495057;
      }
    }
  }

  .avatarWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .avatar {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
      border: 3px solid #e6370b;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
      }
    }

    .avatarInput {
      width: 100%;
      padding: 8px 12px;
      border-radius: 8px;
      border: 1px solid #ddd;
      font-size: 14px;
      margin-top: 10px;
    }
  }
}

/* Анимации */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
