.CardSceleton {
  width: 100%;
  max-width: 275px;
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  aspect-ratio: 275 / 340;
  background: #dedfe081;

  height: 460px;

  @media (max-width: 768px) {
    max-width: 100%;
    height: 400px;
    aspect-ratio: 3 / 4;
  }

  @media (max-width: 576px) {
    flex: 1 1 45%;
    aspect-ratio: 2 / 3;
    height: 350px;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: translateX(-100%);
    animation: shimmer 1.4s infinite;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
