.card {
  width: 100%;
  max-width: 275px;
  flex: 1 1 auto;
  height: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }

  .imageWrapper {
    width: 100%;
    cursor: pointer;
    aspect-ratio: 275 / 340;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    position: relative;

    img {
      flex-shrink: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;
      scroll-snap-align: center;
      position: absolute;
      opacity: 0;
    }

    .active {
      position: relative;
      opacity: 1;
    }

    .quickView {
      position: absolute;
      bottom: 12px;
      left: 50%;
      transform: translateX(-50%);
      background: #ffffff;
      border: 1px solid rgba(128, 128, 128, 0.163);
      padding: 6px 14px;
      border-radius: 999px;
      font-size: 0.85rem;
      font-weight: 600;
      opacity: 0;
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
      cursor: pointer;
      &:active {
        background: #ebebebef;
      }
    }
  }

  &:hover .quickView {
    opacity: 1;
  }

  .info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;

    h3 {
      font-size: 17px;
      font-weight: 500;
      color: #111827;
      margin: 0;
      line-height: 1.2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    p {
      font-size: 14px;
      color: #717171;
      line-height: 1.4;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .price {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      color: #111827;

      .oldPrice {
        text-decoration: line-through;
        color: #999;
      }

      .newPrice {
        color: #fb4517;
        font-weight: 700;
        margin-right: 0.5rem;
      }

      .defaultPrice {
        color: #fb4517; // такой же бордовый
      }
    }

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      margin-top: 5px;
      padding: 8px 16px;
      border-radius: 6px;
      background: #fb4517; // бордовый
      color: #fff;
      font-size: clamp(0.813rem, 0.759rem + 0.27vw, 1rem);
      font-weight: 500;
      cursor: pointer;
      position: relative;
      transition: all 0.3s ease;

      .cartIcon {
        width: 20px;
        height: 20px;
        fill: none;
        stroke: #fff;
        transition: transform 0.3s ease;
      }

      &:hover {
        background: #ff572d;
        svg {
          transform: scale(1.05);
        }
      }

      &:active {
        transform: translateY(2px);
        box-shadow: 0 3px 10px rgba(178, 34, 34, 0.3);
      }

      @media (max-width: 1024px) {
        padding: 7px 14px;
        svg {
          width: 18px;
          height: 18px;
        }
      }

      @media (max-width: 768px) {
        margin-top: 9px;
        padding: 7px 16px;
        width: 100%;
        svg {
          width: 18px;
          height: 18px;
        }
      }

      @media (max-width: 480px) {
        padding: 6px 16px;
        gap: 6px;
        width: 100%;
        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  @media (max-width: 1400px) {
    max-width: 240px;
  }
  @media (max-width: 1200px) {
    max-width: 220px;
  }
  @media (max-width: 884px) {
    max-width: 240px;
  }
  @media (max-width: 840px) {
    max-width: 220px;
  }
  @media (max-width: 768px) {
    max-width: 100%;
    .info {
      gap: 3px;
    }
  }
  @media (max-width: 576px) {
    flex: 1 1 45%;
    .quickView {
      display: none;
    }
  }

  @media (max-width: 480px) {
    .quickView {
      font-size: 12px;
      padding: 2px 12px;
    }
    .info {
      gap: 1px;
      h3 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
      .price {
        font-size: 13px;
      }
    }
  }
}
