.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
  justify-content: center;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 884px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 840px) {
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 758px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.6rem;
  }
  @media (max-width: 658px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
  @media (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    padding: 0.5rem;
  }
}
