$gray-skeleton: #e0e0e0;
$gray-skeleton-light: #f5f5f5;

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeleton {
  background: linear-gradient(
    90deg,
    $gray-skeleton 25%,
    $gray-skeleton-light 50%,
    $gray-skeleton 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 4px;
}

.skeletonImage {
  width: 100%;
  height: 100%;
}

.skeletonTitle {
  width: 50%;
  height: 24px;
}

.skeletonPrice {
  width: 80px;
  height: 24px;
}

.skeletonText {
  width: 30%;
  height: 16px;
  margin-top: 10px;
}

.skeletonCounter {
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.skeletonRemove {
  width: 60px;
  height: 16px;
}

.skeletonTotal {
  width: 100%;
  height: 30px;
}

.skeletonBtnBig {
  width: 100%;
  height: 56px;
  border-radius: 5px;
}

// ... Ваши остальные стили (Order, content, header, и т.д.) без изменений
