.Layout {
  min-height: 100dvh;

  main {
    margin-left: 64px;
    padding: 10px;
    min-height: 100dvh;
    box-sizing: border-box;
  }
}

.card {
  background: #fbfbfb;
  padding: 20px;
  border-radius: 26px;
  border: 1px solid #ebebeb;
  min-height: calc(100dvh - 20px);
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .Layout {
    background: #fbfbfb;

    main {
      margin-left: 0;
      padding: 0;
      padding-bottom: 56px;
      min-height: calc(100dvh - 56px);
    }

    footer {
      margin-left: 0;
    }
  }

  .card {
    border-radius: 0;
    border: none;
    min-height: auto;
  }
}
