.productsNot {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  max-width: 500px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 16px;
  color: #525252;
  margin-bottom: 24px;
}

.button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
}

.button:hover {
  background: #333;
}
