.Grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.1rem;
  padding-inline: 15px;
  justify-content: center;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 884px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 840px) {
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
  @media (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    padding: 0.5rem;
  }
}
