.detail {
  padding-block: 70px;
  font-family: "Inter", sans-serif;
  position: relative;
  background: #ffffff3c;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: start;
  padding-inline: 15px;

  @media (max-width: 950px) {
    padding-inline: 10px;
    grid-template-columns: 1fr;
  }
}

.galleryWrapper {
  user-select: none;
  display: flex;
  gap: 16px;
  align-items: flex-start;

  .thumbnails {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .thumb {
      width: 80px;
      height: 80px;
      object-fit: cover;
      cursor: pointer;
      transition: all 0.25s ease;
      border: 2px solid transparent;

      &:hover {
        transform: scale(1.05);
        border-color: #444;
      }
    }

    .activeThumb {
      border-color: #fb4517;
      transform: scale(1.05);
    }
  }

  @media (max-width: 650px) {
    flex-direction: column-reverse;
    .thumbnails {
      flex-direction: row;
      align-items: start;
    }
  }
}

.mainImageWrapper {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .mainImage {
    width: 100%;
    height: 550px;
    object-fit: contain;
    transition: 0.3s ease;
  }
}

/* RIGHT - Info */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .brandInfo {
    display: flex;
    align-items: center;
    gap: 8px;
    .brandTitle {
      cursor: pointer;
      font-size: 13px;
      font-weight: 600;
      color: #444;
      padding: 5px 10px;
      border-radius: 30px;
      background: #ededed;
      user-select: none;
    }
  }

  .topBlock {
    .title {
      font-size: 32px;
      font-weight: 700;
      color: #000000;
    }
  }

  .priceBlock {
    display: flex;
    align-items: baseline;
    gap: 12px;

    .newPrice {
      font-size: 32px;
      font-weight: 700;
      color: #ff0000;
    }

    .oldPrice {
      font-size: 18px;
      color: #aaa;
      font-weight: 600;
      text-decoration: line-through;
    }

    .price {
      font-size: 30px;
      font-weight: 700;
      color: #ff0000;
    }
  }

  .description {
    padding: 9px 10px;
    border-left: 3px solid #fb4517;
    color: #1f1f1f;
    line-height: 1.6;
    background: #de350b0e;
    font-size: 16px;
  }

  .colors {
    h4 {
      font-weight: 600;
      margin-bottom: 6px;
    }

    .colorList {
      display: flex;
      gap: 10px;

      .colorCircle {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid #ccc;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          border-color: #fb4517;
        }
      }
    }
  }

  .sizes {
    h4 {
      font-weight: 600;
      margin-bottom: 6px;
    }

    .sizeList {
      display: flex;
      gap: 10px;

      .sizeBtn {
        font-size: 15px;
        padding: 8px 14px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background: #fff;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          border-color: #fb4517;
          color: #fb4517;
        }
      }

      .activeSize {
        border-color: #fb4517;
        background: #fb4517;
        color: #fff;
        font-weight: 600;

        &:hover {
          border-color: #fb4517;
          color: #fff;
        }
      }
    }
  }

  .stock {
    font-weight: 600;
    &.inStock {
      color: #18a653;
    }
    &.outOfStock {
      color: #e74c3c;
    }
  }

  .actions {
    display: flex;
    gap: 12px;

    button {
      transition: 0.25s;
    }

    .favoriteBtn {
      background: none;
      border: 1px solid #fb4517;
      border-radius: 10px;
      padding: 12px 22px;
      font-weight: 600;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      .heartIcon {
        width: 20px;
        height: 20px;
        object-fit: cover;
      }

      &:hover {
        background: #fb4517;
        color: #fff;
        .heartIcon {
          filter: brightness(0) invert(1);
        }
      }
    }
    .orderBtn {
      background: #fb4517;
      border: none;
      border-radius: 10px;
      padding: 12px 22px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;

      &:active {
        background: #de350b;
      }
    }
  }
}
