.Welcome {
  padding-block: 70px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .filters {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 28px;
      gap: 10px;

      .tabs {
        position: relative;
        display: flex;
        border-bottom: 1px solid #e8e8e8;

        .tab {
          width: 200px;
          padding: 14px 24px;
          font-size: 15px;
          color: #555;
          background: none;
          border: none;
          cursor: pointer;
          transition: 0.8s ease;

          &:hover {
            color: #111;
          }

          &.active {
            color: #000;
            font-weight: 600;
            transition: 0.8s ease;
          }
        }

        .underline {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 3px;
          width: 0;
          background: #000;
          border-radius: 2px;

          /* GPU-ускорение */
          transition:
            transform 0.35s ease,
            width 0.35s ease;
          will-change: transform, width;
        }
      }
    }
  }
}
