.form {
  --input-text-color: #000000;
  --focus-input-bg-color: transparent;
  --text-color: #949faa;
  --active-color: #fb4517;
  --width-of-input: 400px;
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
}
.form {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: var(--width-of-input);
  position: relative;
  isolation: isolate;
}
.fancy_bg {
  position: absolute;
  width: 100%;
  inset: 0;
  background: var(--input-bg-color);
  border-radius: 30px;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  font-size: 20px;
  align-items: center;
}

.search,
.close_btn {
  position: absolute;
}
.search {
  left: var(--inline-padding-of-input);
}
.svg {
  width: 17px;
  display: block;
}
.close_btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0;
  background: #e9e9e970;
  visibility: hidden;
}
.input {
  width: 100%;
  margin-inline: min(2em, calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
  font-size: 16px;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-color);
}
.input:focus ~ .fancy_bg {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
}
.input:focus ~ .search {
  fill: var(--active-color);
}
.input:valid ~ .close_btn {
  opacity: 1;
  visibility: visible;
}
