.NoteBtn {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
  &:hover {
    background: #333;
  }
}

.cartBtn {
  flex: 1;
  min-width: 160px;
  background: #000000;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  padding: 10px 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  &:hover {
    background: #333333;
  }
  &:active {
    transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  }
}
